@font-face {
    font-family: 'iconfont';  /* Project id 384296 */
    src: url('//at.alicdn.com/t/font_384296_ea5pedcgl35.woff2?t=1629961872918') format('woff2'),
        url('//at.alicdn.com/t/font_384296_ea5pedcgl35.woff?t=1629961872918') format('woff'),
        url('//at.alicdn.com/t/font_384296_ea5pedcgl35.ttf?t=1629961872918') format('truetype');
}
.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.searchBar{
    width: 100%;
    border-top: 1px solid #e6e6e6;
    max-height: 100px;
    /* line-height: 42px; */
    padding-top: 25px;
}
.howTxt{
    width: 100%;
    text-align: center;
    font-family: Roboto-Regular;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #222222;
    margin-bottom: 13px;
}
.dropDownList{
    width: 100%;
    padding: 0 4%;
    margin-top: 28px;
}
.resultBox{
    width: 100%;
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.resultTitle{
    font-family: Roboto-Medium;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #222222;
    margin: 0 auto;
    text-shadow: 0 0 #222;
    margin-bottom: 10px;
}
.resultNum{
    margin: 0 auto;
    font-family: Roboto-Regular;
	font-size: 12px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #666666;
}
.noResult{
    width: 92%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
}
.noResultImg{
    width: 82px;
    height: 64px;
    border: 1px solid;
    margin-bottom: 42px;
}
.noResultTxt{
    font-family: Roboto-Regular;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #999999;
}
.noResultTxt > span{
    margin-left: 5px;
    text-decoration: underline;
    font-family: Roboto-Regular;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #222222;
}
/* 问题列表 */
.resultListBox{
    width: 92%;
    margin: 0 auto;
    padding: 20px 0;
    border-top: 1px solid #e6e6e6;
    margin-top: 10px;
}
.resultItemBox{

}
.resultItemTitle{
    font-family: Roboto-Bold;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #222222;
    font-weight: 600;
    margin-bottom: 13px;
}
.resultTitleTxt > span{
    margin-right: 3px;
}
.resultTitleTxt > strong {
    color: #3483f4;
}
.resultlike{
    color: #999;
    margin-left: 15px;
}
.likes{
    color: #999;
    margin-left: 3px;
}

/* 问题详情 */
.questionDetailBox{
    width: 100%;
    padding: 0 4%;
    margin-top: 27px;
}
.questionDetail{
    padding-bottom: 32px;
}
.questionDetailTitle{
	font-family: Roboto-Bold;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #222222;
    font-weight: bold;
    margin-bottom: 13px;
}
.questionRateBox{
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-top: 1px solid #e6e6e6;
}
.questionRateTxt{
    margin-top: 20px;
    margin-bottom: 16px;
    font-family: Roboto-Regular;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #222222;
}
.questionRateIcon{
    font-size: 16px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}
.like{

}
.liked{
    color: #57b936;
}
.unlike{
    transform: rotate(180deg);
}
.unliked{
    color: #e64545;
}
/* 相似推荐 */
.relatedBox{
    width: 100%;
    /* margin: 0 auto; */
    border-top: 10px solid #f6f6f6;
    padding: 0 4% 20px;
    font-family: Roboto-Bold;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #222222;
    text-shadow: 0 0 #222;
}
.relatedTitle{
    line-height: 48px;
    line-height: 48px;
    font-weight: 600;
    text-shadow: none;
}
.relatedItem{
    width: 100%;
    /* border: 1px solid; */
    height: 40px;
    line-height: 40px;
    background: #f6f6f6;
    padding: 0 16px;
    font-family: Roboto-Regular;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #222222;
    text-shadow: none;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 8px;
}