/*
html5doctor.com Reset Stylesheet
v1.4.1
2010-03-01
Author: Richard Clark - http://richclarkdesign.com
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  vertical-align:baseline;
  background:transparent;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary {
  display:block;
}

nav ul {
  list-style:none;
}

ul,ol{
  list-style-type: none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

input , select , textarea{
  border-radius: 0;
  outline:none;
  box-shadow:none;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif
}

*, *::after, *::before{
  box-sizing:border-box;
}

input:-webkit-autofill{
  background-color: transparent;
}


/** ================icon font==================**/
@font-face {
  font-family: 'iconfont';  /* Project id 384296 */
  src: url('//at.alicdn.com/t/font_384296_cxqg2n0bzi6.woff2?t=1629367300105') format('woff2'),
       url('//at.alicdn.com/t/font_384296_cxqg2n0bzi6.woff?t=1629367300105') format('woff'),
       url('//at.alicdn.com/t/font_384296_cxqg2n0bzi6.ttf?t=1629367300105') format('truetype');
}

.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

/**=============================================**/

@font-face {
  font-family: 'SlatePro';
  src: url('https://s3.geeko.ltd/fonts/SlatePro.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'SlatePro-Medium';
  src: url('https://s3.geeko.ltd/fonts/SlatePro-Medium.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'AcuminPro-Bold';
  src: url('https://s3.geeko.ltd/fonts/Roboto-Bold.ttf.gz');
  font-display: swap;
}


body{
  font-size: 14px;
  font-family: SlatePro, "Open Sans", Arial,"Helvetica Neue", Helvetica, sans-serif;
  -webkit-text-size-adjust: 100%;
  color: #222928;
  // background-color: #f7f7f7;
  background-color: #ffffff;
}


a{
  color: #222928;
  text-decoration: none;
}

@import "base";



.st-table{
  display: table;
}

.st-row{
  display: table-row;
}

.st-cell{
  display: table-cell;
}

.st-flex{
  display: flex;
}

.st-justify-b{
  justify-content: space-between;
}

.st-flex-item{
}

.st-v-m{
  vertical-align: middle;
}

.st-v-t{
  vertical-align: top;
}

.st-v-b{
  vertical-align: bottom;
}

.st-t-l{
  text-align: left;
}

.st-t-r{
  text-align: right;
}

.st-fullwidth{
  width: 100%;
}

.st-fc-r{
  color: $red;
}

.st-clear{
  &::after{
    display: block;
    content: '';
    clear: both;
  }
}

.st-ellipsis{
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}


/**==============font-size==============**/
.st-small-font{
  font-size: 12px;
}

.st-default-font{
  font-size: 14px;
}


/**===========Form===============**/
.st-control{
  .st-input , .st-select{
    display: block;
    outline: none;
    border:1px solid #dcdcdc;
    &:focus{
      border-color: #000;
    }

    &.st-input-danger{
      border-color: #f19ca6;
    }
  }
  .st-is-danger{
    font-size: 11px;
    color: #f19ca6;
  }
}

/**===============================**/


/**================loading===========**/
.st-screen-loading{
  position: fixed;
  z-index: 500;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: st-rotating 2s infinite linear;
}



@keyframes st-rotating {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

/**==================================**/