<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <script type="text/javascript">
        // 正常通用productId
        window.productId = "a069ce60-5107-4bee-8e1e-142bbfe9b93b";

        // 大码  5XL productId
        // window.productId = "32f86f78-b8ef-4e3e-a9c9-7211de3bf92c";

        // 测试最新的fitType
        // window.productId = "c7b0b6c2-9f24-4b0f-9405-12930867155b";

        // 鞋子  
        // window.productId = "e5ee67ab-192a-49ea-8ab4-1dd03e01d61f";

        // 有问题的鞋子链接
        // window.productId = "82639538-e66a-4e82-8e56-77a38f4d55c7"

        // window.lang = "en";
        // window.lang = "de";
        // window.lang = "es";
        // window.lang = "fr";
        // window.lang = "pt";
        // window.lang = "sv";
        // window.lang = "da";
        // window.lang = "nb";
        // window.lang = "is";
        // window.lang = "fi";
    </script>
</head>
<body>
<div id="app">
</div>
</body>
</html>
