<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <script type="text/javascript">
        window.productId = "a069ce60-5107-4bee-8e1e-142bbfe9b93b";
    </script>
</head>
<body>
<div id="app">
</div>
</body>
</html>
