<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <script>
        // window.ctx = 'http://localhost:8080/joyshoetique'
         window.accessToken = '26aa2a52-eeae-4837-9a22-b9ea9e97b60f';
    </script>
</head>
<body>
<div id="app">
</div>
</body>
</html>
