<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <script>
        window.ctx = 'http://localhost:8080/joyshoetique'
        //<![CDATA[
        window.webpackManifest = {"0":"main.5f020f80c23aa50ebedf.js","1":"vendor.81adc64d405c8b218485.js"}
        //]]>
    </script>
</head>
<body>
<div id="app">
</div>
</body>
</html>
