<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <script>
        // window.ctx = 'http://localhost:8080/joyshoetique'
         window.accessToken = 'cc6bdd3d-3a89-4de0-81e3-daf6119f87ac';
        // window.accessToken = "88c228cd-1fb2-421c-a460-af678fb04e5d";
        // window.accessToken = "111";

         window.name="ChicMe";
        //  window.site = "https://www.chicme.com";

         window.locale = "en";

        //  window.ctx = "en" 
    </script>
</head>
<body>
<div id="app">
</div>
</body>
</html>
