<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <script>
        // window.ctx = 'http://localhost:8080/joyshoetique'
        //  window.accessToken = 'f87b25ed-d5b0-49c9-b62c-b30ed1252d43';

         window.name="chicme";

    </script>
</head>
<body>
<div id="app">
</div>
</body>
</html>
