<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <script>
        // window.ctx = 'http://localhost:8080/joyshoetique'
        window.accessToken = 'a62bee94-f6ce-4c7b-b7f8-af852c65dba2'; 
        // window.accessToken = "88c228cd-1fb2-421c-a460-af678fb04e5d"; 
        // window.accessToken = "111";

         window.name="ChicMe";
        //  window.site = "https://www.chicme.com";
 
         window.locale = "en";

        //  window.ctx = "en" 
         window.showPointsMall = false;
        //  console.log(window.showPointsMall)   
  
        // points 页面的二维码
        window.downloadIcon = "https://image.geeko.ltd/chicme/20210415/code.png";

        window.iosAppStoreId = "1276975744";
        window.isAndroidAppStoreId = "com.geeko.chicme";

        window.secret = "DOBtuRDQ73dLnUmBUs2rvqD8yXPlU/70D6TSAQDoG2nVZr7fuKsiSkUEZN0Iq54fVSuEt0kXjKI=";
    </script>
</head>
<body>
<div id="app">
</div>
</body>
</html>
