@font-face {
  font-family: 'iconfont';  /* Project id 791599 */
  src: url('//at.alicdn.com/t/font_791599_3ktjdc2jfwy.woff2?t=1654595666176') format('woff2'),
       url('//at.alicdn.com/t/font_791599_3ktjdc2jfwy.woff?t=1654595666176') format('woff'),
       url('//at.alicdn.com/t/font_791599_3ktjdc2jfwy.ttf?t=1654595666176') format('truetype');
}

html{
  font-size: 10px;
}

body{
  font-family: PingFangSC-Regular, sans-serif, "Microsoft YaHei", Helvetica, Arial, 微软雅黑;
}


.__errortext{
  color: red;
  font-size: 12px;
}