<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <script>
            window.accessToken = '3d5a354b-f436-449e-8e89-06396af254b3';
            // window.locale = "fr";
    </script>
    <title><%= htmlWebpackPlugin.options.title%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
</head>
<body>
<div id="app">
</div>
</body>
</html>
