<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <script>
            // window.accessToken = '3ca472f3-445c-4ecc-898e-3ad06866d71e';
    </script>
    <title><%= htmlWebpackPlugin.options.title%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
</head>
<body>
<div id="app">
</div>
</body>
</html>
