<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <script>
<<<<<<< HEAD
            window.accessToken = 'dc955f4c-dcaa-48b7-aa62-d8e683e56afb';
=======
            window.accessToken = 'a3ca8c27-e9cf-4691-ab7e-cb3d019d73db';
>>>>>>> b1a4bd472d22e90eb9df43c0d6c73a6b28299cdd
            window.locale = "en";

            window.showShare = true;

            // points 页面的二维码
            window.downloadIcon = "https://image.geeko.ltd/chicme/20210415/code.png";

            window.__is_login__ = true;
    </script>
    <title><%= htmlWebpackPlugin.options.title%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
</head>
<body>
<div id="app">
</div>
</body>
</html>
