@font-face {
  font-family: 'iconfont';  /* project id 384296 */
  src: url('//at.alicdn.com/t/font_384296_23ced7plns0mgqfr.eot');
  src: url('//at.alicdn.com/t/font_384296_23ced7plns0mgqfr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_384296_23ced7plns0mgqfr.woff') format('woff'),
  url('//at.alicdn.com/t/font_384296_23ced7plns0mgqfr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_384296_23ced7plns0mgqfr.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.x-country-filter *, .x-country-filter *::after, .x-country-filter *::before{
  box-sizing:border-box;
}


.x-country-filter{
  font-size: 16px;

}



.x-country-filter .hd{

}

.x-country-filter .hd .x-filter-putor{
  position: relative;
  margin: auto;
}

.x-country-filter .x-filter-input {
  position: relative;
  text-align: center;

}

.x-country-filter .x-filter-input > * {
  vertical-align: middle;
}

.x-country-filter .x-filter-input input{
  border: none;
  -webkit-appearance: none;
  box-shadow: none;
  outline: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding-left: 10px;
  line-height: 30px;
}

.x-country-filter .x-filter-input i{
  cursor: pointer;
  position: absolute;
  right: 10px;
  font-size: 14px;
  top: 7px;
}

.x-countries {
  list-style-type: none;
  display: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 10px;
  max-height: 200px;
  overflow: auto;
  position: absolute;
  width: 100%;
  background-color: #fff;
}

.x-countries.active{
  display: block;
}

.x-countries .x-group-letter, .x-countries .x-country-li{
  height: 20px;
  line-height: 20px;
  padding-left: 10px;
}

.x-countries .x-country-li{
  cursor: pointer;
  font-size: 12px;
  position: relative;
}

.x-countries .x-country-li:hover::before{
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: #000;
  content: '';
  left: 0;
  top: 0;
}

.x-countries .x-country-li:hover{
  font-weight: bold;
}



.x-countries .x-group-letter{
  background-color: #efefef;
  font-weight: bold;
  font-size: 13px;
}


.x-shipping-table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 15px;
  max-width: 978px;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
}

.x-shipping-table tr > td:nth-child(3){
  max-width: 400px;
}

.x-shipping-table tr:nth-child(1){
  background-color: #f5f5f5;
}

.x-shipping-table thead{
  background-color: #AEAAAA;
}

.x-shipping-table td, .x-shipping-table th{
  border: 1px solid #dbdbdb;
  padding: 15px 10px;
  text-align: center;
  color: #666;
}

.x-shipping-table tr:first-child td{
  color: #222;
  font-weight: bold;
}

.x-shipping-back-grey th{
  background-color: #D0CECE;
}

.x-shipping-table th{
  font-weight: 600;
}

.x-shipping-table td{
}

.x-shipping-empty{
  text-align: center;
  color: #666;
  margin-top: 15px;
}

.x-filter-select{
  background: url("https://image.geeko.ltd/site/pc/icon137.png") no-repeat scroll calc(100% - 10px) center transparent;
  border: none;
  position: relative;
  font-weight: normal;
  -webkit-appearance: none;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  border: 1px solid #9b9b9b;
  width: 200px;
  height: 32px;
}

.x-filter-title{
  font-size: 18px;
}

.x-shipping-desc{
  text-align: center;
  color: #E64545;
  margin-top: 10px;
}

@media screen and (max-width:460px) {
	.x-country-filter{
    font-size: 14px;
  
  }

  .x-filter-title{
    font-size: 14px;
  }
}