@font-face {
  font-family: 'SlatePro';
  src: url('https://s3.geeko.ltd/fonts/SlatePro.ttf');
}

@font-face {
  font-family: 'SlatePro-Medium';
  src: url('https://s3.geeko.ltd/fonts/SlatePro-Medium.ttf');
}

@font-face {
  font-family: 'iconfont';  /* Project id 2545912 */
  src: url('//at.alicdn.com/t/font_2545912_p8lom28f3m.woff2?t=1620889066945') format('woff2'),
       url('//at.alicdn.com/t/font_2545912_p8lom28f3m.woff?t=1620889066945') format('woff'),
       url('//at.alicdn.com/t/font_2545912_p8lom28f3m.ttf?t=1620889066945') format('truetype');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
html5doctor.com Reset Stylesheet
v1.4.1
2010-03-01
Author: Richard Clark - http://richclarkdesign.com
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  vertical-align:baseline;
  background:transparent;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary {
  display:block;
}

nav ul {
  list-style:none;
}

ul,ol{
  list-style-type: none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

input , select , textarea{
  border-radius: 0;
  outline:none;
  box-shadow:none;
  font-family: "Open Sans", Arial,"Helvetica Neue", Helvetica, sans-serif;
}

*, *::after, *::before{
  box-sizing:border-box;
}

input:-webkit-autofill{
  background-color: transparent;
}

body{
  font-size: 14px;
  color: #222;
  background-color: #f6f6f6;
  font-family: SlatePro, "Open Sans", Arial,"Helvetica Neue", Helvetica, sans-serif;
}

