@font-face {
    font-family: 'iconfont';  /* Project id 384296 */
    src: url('//at.alicdn.com/t/font_384296_zeqg5iv9hbi.woff2?t=1630323200612') format('woff2'),
         url('//at.alicdn.com/t/font_384296_zeqg5iv9hbi.woff?t=1630323200612') format('woff'),
         url('//at.alicdn.com/t/font_384296_zeqg5iv9hbi.ttf?t=1630323200612') format('truetype');
  }

.iconfont{
    font-family:"iconfont" !important;
    font-size:  15px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 13px;
    
}
.questionInputBox{
    display: flex;
    border: 1px solid #222;
    width: 92%;
    margin: 0 auto;
    line-height: 38px;
    height: 38px;
    position: relative;
}
.questionInputBox input {
    border: none;
    outline: none;
    flex: 1;
    padding: 0 0px 0 12px;
    font-family: Roboto-Regular;
	font-size: 12px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #222222;
    line-height: 38px;
}
.inputPositionBox{
    flex: 1;
    position: relative;
    display: flex;
}
.questionInputBox input::-webkit-input-placeholder{
    font-family: Roboto-Regular;
	font-size: 12px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #999999;
}
.inputIconBox{
    width: 15%;
    background: #222;
    color: #fff;
    text-align: center;
}
/* .span{
    position: absolute;
    right: 0;
} */
.searchTipsBox{
    width: 100.5%;
    max-height: 182px;
    overflow: hidden;
    overflow-y: scroll;
    position: absolute;
    left: -1px;
    top: 38px;
    border: 1px solid #cacaca;
    border-top: none;
    font-family: Roboto-Regular;
	font-size: 12px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #666666;
    padding: 2px 15px 16px;
    background: #fff;
    z-index: 1;
}
.searchTipsBox::-webkit-scrollbar{
    
}
.searchTipsBox span, .searchTipsBox strong{
    margin-right: 3px;
}
.tipItem{
    width: calc(100%);
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}