.selectTypeBox{
    width: 100%;
    padding: 0 4%;
    height: 38px;
    /* border: 1px solid; */
    position: relative;
}
.selectInputBox{
    width: 100%;
    height: 38px;
    border-radius: 2px;
	border: solid 1px #cacaca;
    /* background: url("https://image.geeko.ltd/site/pc/icon137.png") no-repeat scroll calc(100% - 10px) center transparent; */
	position: relative;
	-webkit-appearance: none; /*for chrome*/
	padding-left: 10px;
    line-height: 38px;
}
.selectIcon{
    position: absolute;
    right: 10px;
    top: calc(50% - 4px);
    width: 13px;
    height: 8px;
    transform: rotate(0);
    transition: all 0.2s linear;
}
.selectOpen{
    transform: rotate(180deg);
    transition: all 0.2s linear;
}
.selectOptionBox{
    background-color: #fff;
    position: absolute;
    top: 38px;
    left: 4%;
    width: 92%;
    min-height: 38px;
    line-height: 38px;
    border: 1px solid #cacaca;
    border-top: none;
    z-index: 1;
    /* padding: 0 10px; */
}
.selectOption{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 10px;
}
.hover{
    background-color: #f6f6f6;
}
.radious{
    border-radius: 19px;
    padding-left: 20px;
}
.radious > .selectIcon{
    right: 20px;
}
.radious+.selectOptionBox{
    background-color: #fff;
    position: absolute;
    top: 38px;
    left: 8%;
    width: 84%;
    min-height: 38px;
    line-height: 38px;
    border: 1px solid #cacaca;
    border-top: none;
    z-index: 1;
}