@font-face {
    font-family: 'iconfont';  /* Project id 384296 */
    src: url('//at.alicdn.com/t/font_1834074_y18pfhmkua.woff2?t=1629977092517') format('woff2'),
         url('//at.alicdn.com/t/font_1834074_y18pfhmkua.woff?t=1629977092517') format('woff'),
         url('//at.alicdn.com/t/font_1834074_y18pfhmkua.ttf?t=1629977092517') format('truetype');
}
.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.dropDownPositionBox{
    border-bottom: 1px solid #e6e6e6;
}
.dropDownItem{
    display: flex;
    align-items: center;
    /* border: 1px solid; */
    font-family: Roboto-Medium;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #222222;
    height: 48px;
    line-height: 48px;
    /* border-bottom: 1px solid #e6e6e6; */
}
.dropDownIcon{
    font-size: 18px;
    margin-right: 16px;
}
.dropDownTxt{
    flex: 1;
    text-shadow: 0 0 #222;
}
.show{
    font-size: 14px;
}
.moreQuestion{
    width: 100%;
    padding: 9px 21px;
    line-height: 32px;
    background: #f6f6f6;
    margin-bottom: 12px;
}
.moreQuestion span {
    width: 100%;
    line-height: 32px;
    font-family: Roboto-Regular;
	font-size: 12px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #222222;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}